
<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script src="https://use.fontawesome.com/ac2f2c7a7a.js"></script>

<div id="root"> This should not render!  </div>
