.filterFull {
  width: 100%;
  background-color: #f1efea;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;

  .filterContainer {
    width: 700px;
    background-color: #ffffff;
    // background-color: blue;

    border-radius: 3px;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    .filterTitle {
      font-size: 28px;
      text-align: left;
    }

    .spotSearchForm {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .searchItem {
        padding: 10px;
        // background-color: pink;
        display: flex;
        flex-direction: column;
        .searchLabel {
          width: 200px;
          align-items: center;
        }
        .selectFilter {
          // background-color: #579bc7;
          padding: 10px 20px;
          border: 1px solid #a0aab8;
          border-radius: 6px;
        }
      }
      .spotSearchButtons {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .submitSearch {
          padding: 10px 30px;
          background-color: #db6530;
          color: white;
        }
      }
    }
  }
}
