.authFull {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9990;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.authFormContainer {
  top: 40px;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
}
.authFormHeading {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.exit {
  text-decoration: none;
  color: gray;
  background-color: white;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.title {
  padding-left: 40px;

}

.exit:hover {

  border-radius: 6px;
  cursor: pointer;
  color: black;
}
.authErrors > li {

}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authFormInput {
  margin: 10px;
  padding: 2px;
  width: 80%;
}
.authFormSubmit {
  margin: 10px;
  padding: 2px;
  width: 80%;
  height: 20px;
}

.authErrors {
  align-items: center;
  justify-content: center;
}
.authErrors > * {
  background-color: #f1ced0;
  color: #8f6769;
  padding: 15px;

}
