.navBar {
  background-color: white;
  border: 1px solid gray;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.auth {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  width: 45%;
  min-width: 322px;
}

.join, .login {
  margin: 15px;
  padding: 5px 20px;
  background-color: white;
  color: #287fb8;
  border: 1px solid #287fb8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}
.join {
  width: 65%;
  min-width: 60px;
  max-width: 180px;
  background-color: #287fb8;
  color: white;
}
.joinLink {
  width: 100%;
  align-content: center;
  justify-content: center;
}

.login {
  width: 33%;
  padding: 5px 10px;
}

.logo {
  color: #db6530;
  font-family: 'Kaushan Script', cursive;
  margin: 10px 30px;
  padding: 10px 20px;
  font-size: 30px;
  margin: 0px;
}

.userNav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  width: 22%;
  min-width: 122px;
}
.navGreeting {
  font-family: 'Caveat Brush', cursive;
  color: #a0aab8;
  padding: 0px;
  margin: 0px;
  margin-top: 12px;
}

.person {
  border-radius: 50%;
  margin-right: 20px;
  height: 44px;
  width: 44px;
}

.person:hover {
  cursor: pointer;
}
