.navBar {
  background-color: white;
  border: 1px solid gray;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.auth {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  min-width: 220px;
}

.join, .login {
  margin: 15px;
  padding: 5px 20px;
  background-color: white;
  color: #287fb8;
  border: 1px solid #287fb8;
  border-radius: 5px;
}

.join {
  background-color: #287fb8;
  color: white;
}

.logo {
  color: #db6530;
  font-family: 'Kaushan Script', cursive;
  margin: 10px 30px;
  padding: 10px 20px;
  font-size: 30px;
  margin: 0px;
}

.navGreeting {
  font-family: 'Caveat Brush', cursive;
  color: #a0aab8;
  padding: 0px;
  margin: 0px;
  margin-top: 12px;
}

.person {
  border-radius: 50%;
  margin-right: 20px;
  height: 44px;
  width: 44px;
}

.person:hover {
  cursor: pointer;
}
