.navBar {
  background-color: white;
  border-bottom: 1px solid gray;
  width: 100%;
  min-width: 410px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color: #db6530;
  font-family: 'Kaushan Script', cursive;
  margin: 10px 30px;
  padding: 10px 20px;
  font-size: 30px;
  margin: 0px;
}
.logo:hover {
  background-color: #d8efde;
}

.auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;;
  margin: 0px;
  width: 280px;

  .joinLink, .loginLink {
    background-color: white;
    color: #287fb8;
    border: 1px solid #287fb8;
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  .joinLink {
    width: 100px;
    min-width: 60px;
    margin: 0px;
    margin-left: 20px;
    background-color: #287fb8;
    color: white;
  }
}




.userNav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  width: 22%;
  min-width: 160px;

  .navGreeting {
    font-family: 'Caveat Brush', cursive;
    color: #a0aab8;
    padding: 0px;
    margin: 0px;
    margin-top: 12px;
  }

  .person {
    border-radius: 50%;
    margin-right: 20px;
    height: 44px;
    width: 44px;
  }
  .person:hover {
    cursor: pointer;
  }

}
